<div class="jumbotron">
    <%= image_tag("jumbotron.jpg", class: "img-responsive pull-right img-rounded") %> 
    <h1> Descubre nuevas canciones donde sea</h1>
    <p>Spotify ahora es gratis en tu celular, tablet y computadora. Escucha la música perfecta, donde sea que te encuentres. </p>
</div>

<div class="row">
	<%= form_tag({controller: "search", action: "goto_spotify"}, method: "get", class: "form-horizontal") do %>
		<div class="form-group">
			<div class="col-lg-11 col-xs-10">
			  <%= text_field_tag(:q, nil, placeholder: "Enter search here..", class: "form-control") %>
			</div>
			<div class="col-lg-1 col-xs-2">  
			  <%= submit_tag("Search", class: "btn btn-default") %>
		    </div>
		</div>
	<% end %>
</div>



 
