body {
	padding-top: 70px;
	padding-bottom: 70px;
}

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

.form-horizontal {
	padding-left: 15px;
}


.navbar-inverse {
	font-weight: bold;
}
.navbar-inverse .navbar-toggle {
	color: white;
	font-weight: bold;
	border-color: white;
}
.navbar-inverse .navbar-toggle:hover {
	background-color: #ddd;
	color: #333;
}
.navbar-inverse .navbar-toggle .glyphicon {
	color: white;
}
.navbar-inverse .navbar-toggle:hover .glyphicon {
	color: #333;
}